@import "tailwindcss";
@tailwind utilities;

html {
  background-color: #0e0e0e;
  height: 100vh;
  padding-top: 20px;
}
:root{
    --pink: #fccee8c3;
    --gray: #3d363b31;
    --border-color: #988a9136; 
}
.poppins-200 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.poppins-300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.figtree-300 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.figtree-400 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.lora-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.wrapper{
    @apply flex w-full justify-center;
}
.nav{
    @apply flex lg:w-[520px] justify-between w-[90vw] h-[60px]  backdrop-blur-sm items-center box-border p-4;
}
.nav{
    color: var(--pink);
    background-color: var(--gray);
    border: 1px solid var(--border-color);
}
.desktop-nav{
    @apply hidden lg:flex gap-4 items-center text-sm tracking-wider;
}
.mobile-nav{
  @apply lg:hidden w-[90vw] h-[190px] text-center backdrop-blur-sm;
}
.mobile-nav{
  color: var(--pink);
  background-color: var(--gray);
  border: 1px solid var(--border-color);
}
.btn{
    @apply text-black border-0 rounded-[3px] tracking-wider h-10 hover:bg-pink-200 cursor-pointer text-sm;
}
.btn{
    background-color: var(--pink);
}
.menu_icon{
  @apply cursor-pointer flex flex-col gap-2 h-min relative lg:hidden;
}
h1{
  @apply text-3xl lg:text-4xl
}
h1, p{
  color: var(--pink);
}
.wave-hand {
  display: inline-block;
  animation: wave 1.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
.canvas-loader{
  background-color: #0e0e0e;
}

