@import "tailwindcss";
@tailwind utilities;

html {
  background-color: #0e0e0e;
  height: 100vh;
  scroll-behavior: smooth;
}
:root{
    --pink: #FF69B4; /*#fccee8c3  #F4A6B9*/
    --background: #3d363b31;
    --border-color: #988a9136; 
    --gray: #ABB2BF;
}
.poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.figtree-400 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.lora-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.wrapper{
    @apply flex w-full justify-center;
}
.accent{
  color: var(--pink);
}
.nav{
    @apply flex lg:max-w-[1024px] justify-between w-[90vw] h-[60px]  backdrop-blur-sm items-center box-border p-4 mt-[30px];
    color: white;
    background-color: var(--background);
    border: 1px solid var(--border-color);
}
.desktop-nav{
    @apply hidden lg:flex gap-6 items-center text-sm tracking-wider;
}
.mobile-nav{
  @apply lg:hidden w-[90vw] h-[190px] text-center backdrop-blur-sm mt-[20px];
  color: white;
  background-color: var(--background);
  border: 1px solid var(--border-color);
}
.btn{
    @apply text-white border-0 rounded-sm tracking-wider h-10 hover:bg-pink-400 cursor-pointer text-sm;
    background-color: var(--pink);
}
.btn-card{
  @apply text-white border-1 rounded-sm tracking-wider h-10 cursor-pointer text-sm flex gap-2 items-center;
  border-color: var(--pink);
}
.btn-card:hover{
  background-color: var(--pink);
}
.btn-card-sec{
  @apply text-white border-1 rounded-sm tracking-wider h-10 cursor-pointer text-sm p-2 flex gap-2 items-center;
  border-color: var(--border-color);
}
.btn-border{
  border-color: var(--border-color);
}
.btn-card-sec:hover{
  background-color: var(--border-color);
}
.btn:hover, .arrow2:hover{
  box-shadow: 0 0 5px var(--pink), 0 0 5px var(--pink), 0 0 20px var(--pink);
}
.btn-lang{
  @apply h-10 rounded-t-sm p-3;
  border: 1px solid var(--border-color);
}
.btn-lang:hover{
  background-color: var(--border-color);
}
.btn-s{
  @apply backdrop-blur-sm h-10;
  border-color: var(--border-color);
  background-color: var(--border-color);
}
.btn-s:hover{
  border-color: var(--pink);
}
.hover-li {
  position: relative;
}
.hover-li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--pink); 
  transition: width 0.3s ease-in-out;
}
.hover-li:hover::after {
  width: 100%;
}
.menu_icon{
  @apply cursor-pointer flex flex-col gap-2 h-min relative lg:hidden;
}
h1{
  @apply text-3xl lg:text-4xl;
  color: white;
}
p{
  color: var(--gray);
}
.arrow {
  transition: transform 0.3s ease;
}
.turn {
  transform: rotate(180deg);
}
.arrow2{
  @apply absolute bottom-0 rounded-full box-border p-1;
  border: 1px solid var(--border-color);
  background-color: var(--background);
  transform: translate(-50%, -50%);
}
.card-border{
  @apply border;
  border-color: var(--border-color);
  background-color: var(--background)
}

/* .wave-hand {
  display: inline-block;
  animation: wave 1.5s infinite;
  transform-origin: 70% 70%;
} */
/* @keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
} */
