.menu_icon {
  cursor: pointer;
  width: 30px;
  height: 15px;
  position: relative;
}

.bar {
  position: absolute;
  left: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.bar1 {
  top: 0;
}
.bar2 {
  top: 50%;
}
.bar3 {
  bottom: 0;
}

.menu_icon.open .bar1 {
  transform: rotate(45deg) translateY(10px);
}
.menu_icon.open .bar2 {
  opacity: 0;
  transform: translateX(-10px);
}
.menu_icon.open .bar3 {
  transform: rotate(-45deg) translateY(-10px);
}